@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif ;
}
@font-face {
    font-family: Chalkboard SE;
    src: url(../assets/fonts/ChalkboardSE-Regular.ttf);
}
body{
 background:#ffffff;
 
}
html{
    overflow-x:hidden ;
    
} 
 .container .main-container{
    width: 100%;
    height: 100%;
   
 }
      /* start header */
.toolbar{
background:#0F83B2;
display: flex;
padding-inline: 2rem;
padding-block: 1.5rem;
width: 100%;
height: 40px;
border: 1px;
justify-content: space-between;
align-items: center;
position: relative;
z-index: 1;
color: white;
}
.toolbar .bubble{
    width: 100%;
    position: absolute;
    bottom: -1rem;
    left: 0;
    z-index: -1;
}
.toolbar .login a{
    text-decoration: none;
    color: #fff;
    margin: 0.5rem;
    text-transform: capitalize;
}
.toolbar .icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* end header */

    /* start Navbar */
.Navbar{
    background-color: #fff;
    width: 100%;
    height: 10.25rem;
}
.Navbar .Navbar-contienar {
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.Navbar .logo img{
   width: 4rem;
   height: min-content;
   object-fit: cover;
   width: 144px;
   height: 53px;
}
.Navbar .menu a{
    text-decoration: none;
    color: #000000;
    margin: 1.5rem;

}
.search {
  display: flex;
  align-items: center;
  gap:2rem ;
  position: relative;
  width: 25%;
}
.search .search-glass{
    position: relative;
    height: 3rem;
    flex: 1;
    border-radius: 1.625rem;
    overflow: hidden;
    border: 2px solid  #D4D4D4;
    padding-inline: 1.5rem;
}
.search .search-glass .search-icon {
position: absolute; 
width: 3rem;
height: 100%;
background: #0F83B2;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
top: 50%;
right: 0;
transform: translateY(-50%);
cursor: pointer;
}
.search input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}
.search .cart {
    position: relative;
}
.search .cart .cart-count {
    width: 1.2rem;
    height: 1.2rem;
    background: #E3B110;
    border-radius: 50%;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -.5rem;
    right: -.5rem;
    position: absolute;
}
/* end navbar */

/* start hero section */
.hero-section {
    background-image: url(../assets/images/2e4da7835d87c386fb602437bc0c997a.jpeg);
    width: 100%;
    height: 50.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.hero-section .hero-section-contienar .hero-banner {
    margin-right: 4rem;
}
.hero-section .hero-section-contienar .hero-banner  h2{
    color: #1096B5;
    font-weight: 400;
    line-height: 136.53px;
    font-size: 60px;
    margin-bottom: 0.5rem;
    text-shadow:2px 2px #fff;
    font-family: Chalkboard SE;
}
.hero-section .hero-section-contienar .hero-banner p{
   font-size: 18px;
   font-weight: 600;
   line-height: 28px;
   color: #375259;
   font-family: Comfortaa;
}
.hero-section .hero-section-contienar .hero-banner button{
width: 200px;
height: 65px;
border-radius: 74px;
border: none;
background: #FFE926;
margin-top: 3rem;
cursor: pointer;
}
.hero-section .hero-section-contienar .hero-banner span{
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.3px;
    color: #191919;
}
.hero-section .hero-section-contienar .hero-banner button:hover{
    background-color: #fff;
}
 /* end hero section */ 

/* start category */
.categry-section {
    height: 30rem;
}
.categry-section .category-continer{
    padding: 50rem, 0, 3.125rem, 0;
}
.categry-section .category-continer .category-info{
    margin-top: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.categry-section .category-continer .category-info h2{
    line-height: 45.6px;
    font-size: 38px;
    font-weight: 700;
    font-family: Chalkboard SE;
    padding-bottom: 0.5rem;
    color: #191919;
}
.categry-section .category-continer .category-info h6{
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    font-family: Comfortaa;
    padding-bottom: 0.625rem;
    color: #2D2D2D;
}
.categry-section .category-continer .toyes-imge{
    height:21.25rem;
    width:77.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 5rem;
    display:grid ;
    grid-template-columns: repeat(5,1fr);   
}
.categry-section .category-continer .toyes-imge .cloud-image{
    height:13.75rem;
    width: 13.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.categry-section .category-continer .toyes-imge .cloud-image img{
    height: 5.625rem;
    width: 5.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent;
}
.categry-section .category-continer .toyes-imge .toy p{
    line-height: 16px;
    font-size: 20px;
    font-weight: 700;
    font-family: Comfortaa;
    color:#171717;
    text-align: center;
    padding-top: 32px;
}

/* end category */

.product-section .product-continer {
    height: 59.5rem;
    justify-content: center;
    text-align: center;   
}
.product-section .product-info{
   text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.product-continer .product-info .product-add h6{
font-family: Chalkboard SE;
font-size: 34px;
font-weight: 700;
line-height: 45.6px;
text-align: left;
color: #191919;
}
.product-continer .product-info .links{
    gap: 2.5rem;
    display: flex;
}
.product-continer .product-info .links a{
    text-decoration: none;
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #2D2D2D;
}
.product-continer .product-info .links a span{
    background-color: hsla(300, 44%, 95%, 0.863);

}
.product-section .product-continer .product-items {
    gap: 3rem;
    height:53.5rem;
    padding-left: 2rem;
    
}
.product-section .product-continer .product-items .product-items1 {
    height: 24.875rem;
    width: 77.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
 
}
.product-section .product-continer .product-items .product-items2 {
    height: 24.875rem;
    width: 77.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.product-section .product-continer .product-items .product-items1 .products-image img{
    width: 18.438rem;
    height: 18.438rem;
    border-radius: 20px 20px 20px 20px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D4D4D4 ;
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent;

}   
.product-section .product-continer .product-items .product-items1 .products-image .product-information{
    width: 14.688rem;
    height: 5.125rem;
    gap: 1.5rem; 
}
.product-section .product-continer .product-items .product-items1 .products-image .product-information p{
font-family: Comfortaa;
font-size: 16px;
font-weight: 700;
line-height: 21.6px;
text-align: left;
color: #191919;
}
.product-section .product-continer .product-items .product-items1 .products-image .product-information h6{
color: #25BF0C;
font-family: Comfortaa;
font-size: 16px;
font-weight: 600;
line-height: 21.6px;
text-align: left;

}
.product-section .product-continer .product-items .product-items1 .products-image .product-information del{
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #898989;
}
.product-section .product-continer .product-items .product-items1 .products-image .product-information .svg-rate{
    width: 7.25rem;
    height: 1.25rem;
    gap: 1rem;
}
.product-section .product-continer .product-items .product-items2 .products-image .product-information .svg-rate{
    width: 7.25rem;
    height: 1.25rem;
    gap: 1rem;
}
.product-section .product-continer .product-items .product-items2 .products-image img{
    width: 18.438rem;
    height: 18.438rem;
    border-radius: 20px 20px 20px 20px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D4D4D4 ;
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent;
}   
.product-section .product-continer .product-items .product-items2 .products-image .product-information{
    width: 14.688rem;
    height: 5.125rem;
    gap: 0.75rem; 
}
.product-section .product-continer .product-items .product-items2 .products-image .product-information p{
font-family: Comfortaa;
font-size: 16px;
font-weight: 700;
line-height: 21.6px;
text-align: left;
color: #191919;

}
.product-section .product-continer .product-items .product-items2 .products-image .product-information h6{
color: #25BF0C;
font-family:Comfortaa;
font-size: 12px;
font-weight: 600;
line-height: 21.6px;
text-align: left;

}
.product-section .product-continer .product-items .product-items2 .products-image .product-information del{
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #898989;
}

/* start banner */
.banner .banner-section{
height: 31.5rem;
}
.banner .banner-section .banner-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner .banner-section .banner-item .banner-item1{
    background: url(../assets/images/8f55155e9fc1c3f9e6852bc30a18586b.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 31.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-item1 p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform :translate(-50% , -50%) ;
    font-family: Chalkboard SE;
    font-size: 32px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    color:#1096B5;
}
.banner .banner-section .banner-item .banner-item2{
    background: url(../assets/images/b8bbe162327a7a85b43c1bb61fa6ce6b.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:31.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .banner-section .banner-item .banner-item2 .banner-item-info{
     text-align: center;
    justify-content: center; 
}
.banner .banner-section .banner-item .banner-item2 .banner-item-info h2{
     font-family: Chalkboard SE;
     font-size: 32px;
     font-weight: 700;
     line-height: 47.6px;
     text-align: left;
     color: #1096B5;
     text-shadow:2px 2px #fff;
}
.banner .banner-section .banner-item .banner-item2 .banner-item-info p{
    font-family: Comfortaa;
   font-size: 14px;
   font-weight: 500;
   line-height: 22.4px;
   text-align: center;
   color: #375259;
}
.banner .banner-section .banner-item .banner-item2 .banner-item-info button{
border: none;
background: #FFE926;
margin-top: 2.5rem;
cursor: pointer;
width:8.625rem ;
height: 2.688rem;
border-radius: 74px;
}
.banner .banner-section .banner-item .banner-item2 .banner-item-info span{
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 16px;
    line-height: 17.84px;
    text-align: center;
    color: #191919;
}

/* end banner */

/*   start product-love */
.product-love .best-saller{
    height:33rem;
}
.product-love .best-saller .customer-love{
    height: 5.25rem;
    margin-top: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.product-love .best-saller .customer-love h2{
font-family: Chalkboard SE;
font-size: 34px;
font-weight: 700;
line-height: 45.6px;
color: #191919;
}
.product-love .best-saller .customer-love h6{
font-family: Comfortaa;
font-size: 16px;
font-weight: 500;
line-height: 28px;
color: #2D2D2D;
}
.product-love .best-saller .best-prodcuts{
     width: 77.5rem;
     height: 24.875rem;
     gap: 1.25rem;
     margin-top: 1.5rem;
     display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 2rem;
}
.product-love .best-saller .best-prodcuts .products-image{
    width: 18.438rem;
    height: 24.875rem;
    gap: 1.5rem;
}
.product-love .best-saller .best-prodcuts .products-image img{
    width: 18.438rem;
    height: 18.438rem;
    gap: 1.25rem;
    border-radius: 20px 20px 20px 20px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D4D4D4 ;
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent;
}
.product-love .best-saller .best-prodcuts .products-image .product-information{
     width:15.063rem;
     height:3.125rem;
     gap: 0.375rem;
}
.product-love .best-saller .best-prodcuts .products-image .product-information p{   
font-family: Comfortaa;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: left;
color: #191919;
}
.product-love .best-saller .best-prodcuts .products-image .product-information h6{
font-family: Comfortaa;
font-size: 16px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
color:#1BBF00 ;
}
.product-love .best-saller .best-prodcuts .products-image .product-information del{
    font-family:Comfortaa;
    font-size: 10px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #898989;
}
.product-love .best-saller .best-prodcuts .products-image .product-information .svg-rate{
    width: 7.25rem;
    height: 1.25rem;
    gap: 0.25rem;  
}
/* end product-love */

/* start photoshoots  */

.photoshoots .photoshoots-section .recent-photoshoots{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.photoshoots .photoshoots-section .recent-photoshoots h4{
    font-family: Chalkboard SE;
    font-size: 28px;
    font-weight: 600;
    line-height: 43px;
    color: #191919;
}
.photoshoots .photoshoots-section .recent-photoshoots h6{
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #2D2D2D;
}
.photoshoots .photoshoots-section .photoshoots-continer{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-top: 2.25rem;
}
.photoshoots .photoshoots-section .photoshoots-continer .images img{
    width: 100%; 
    height: 22.5rem;
    object-fit:cover;
    background-size: cover;
}

 /*end photoshoots   */

/*start Feature */
.feature .feature-continer .feature-banner{
    height: 11.75rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 2rem;
    margin-top: 1.5rem;
}

.feature .feature-continer .feature-banner .customer-care {
    width: 25rem;
    height: 11.75rem;
    gap: 0.25rem;
    border-radius: 20px 20px 20px 20px;
    background-color: #F4FAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature .feature-continer .feature-banner .customer-care .customer-svg{
    width:9.75rem;
    height: 7.188rem;
    gap: 1rem;
}
.feature .feature-continer .feature-banner .customer-care .customer-info{
    width: 9.625rem;
    height: 1.188rem;
}
.feature .feature-continer .feature-banner .customer-care .p{
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #101010CC;
}
.feature .feature-continer .feature-banner .free-ship{
    width: 25rem;
    height: 11.75rem;
    gap: 0.25rem;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFAF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature .feature-continer .feature-banner .free-ship .free-ship-svg{
    width: 6.063rem;
    height: 7.188rem;
    gap: 1rem;
}
.feature .feature-continer .feature-banner .free-ship .free-ship-info{
    width: 15.75rem;
    height: 1.188rem;
}
.feature .feature-continer .feature-banner .free-ship .free-ship-info p{
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.2px;
    text-align:center;
    color: #101010CC;
}
.feature .feature-continer .feature-banner .return{
    width:25rem;
    height: 11.75rem;
    gap: 0.25rem;
    border-radius: 20px 20px 20px 20px;
    background-color: #F4FFF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature .feature-continer .feature-banner .return .return-svg{
    width: 4.688rem;
    height: 7.188rem;
    gap: 1rem;
}
.feature .feature-continer .feature-banner .return .return-info{
    width: 6.938rem;
    height: 1.188rem;
}
.feature .feature-continer .feature-banner .return .return-info p{
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #101010CC;
}
/*end Feature */


 /* start newsletter  */
.newsletter .news-continer{
    height: 17.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .news-continer .section-news{
    width:45.25rem;
    height:11.625rem;
    gap: 1.5rem;
    
}
.newsletter .news-continer .section-news .newsletter{
    width:45.25rem;
    height: 7rem;
    gap: 0.625rem;

}
.newsletter .news-continer .section-news .mail{
    width:29.438rem;
    height: 3.125rem;
    gap: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}
.newsletter .news-continer .section-news .newsletter h4{
font-family: Chalkboard SE;
font-size: 38px;
font-weight: 700;
line-height: 45.6px;
text-align: center;
color: #191919;
}
.newsletter .news-continer .section-news .newsletter p{
font-family: Comfortaa;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: center;
color: #2D2D2D;
}
.newsletter .news-continer .section-news .newsletter .mail input{
    width:23.563rem;
    height: 3.125rem;
    gap: 0.625rem;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #D4D4D4
}
.newsletter .news-continer .section-news .newsletter .mail button{
    width: 5.125rem;
    height: 3.125rem;
    gap: 0.375rem;
    border-radius: 15px 15px 15px 15px;
    border: 0;
    background-color: #0F83B2;
    color: #fff;
}
/* end newsletter */

/* start footer */
.footer .footer-section {
    background-image: url(../assets/images/8bde43e7711690d8f6c15d14a44e6d4e.png);
    gap: 0.625rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 2rem;
}
.footer .footer-section .news-continer{
    width: 52.5rem;
    display: grid;
    grid-template-columns: 0.6fr 0.3fr 0.3fr;
}
.footer .footer-section .news-continer .logo-footer{
    width:10rem;
    height:10rem;
}
.footer .footer-section .news-continer .logo-footer .logoo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer .footer-section .news-continer .logo-footer h6{
font-family: Comfortaa;
font-size: 12px;
font-weight: 350;
line-height: 22.4px;
text-align: left;
color: #2D2D2D;

}
.footer .footer-section .news-continer .logo-footer .icons{
    width:11.75rem;
    height: 2.188rem;
    gap: 1rem;
    color: #F26C62;
    padding-top: 0.75rem;
}
footer .footer-section .news-continer .logo-footer .icons i{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.156rem;
}
footer .footer-section .news-continer .myaccount{
    width:11.438rem;
    height:12.625rem;
    gap: 1rem;
}
.footer .footer-section .news-continer .myaccount  .link-account ul{
    width:11.438rem;
    height: 8.5rem;
    gap: 1rem;
}
.footer .footer-section .news-continer .myaccount li{
    list-style: none;
}
.footer .footer-section .news-continer .myaccount a{
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 250;
    line-height: 22.4px;
    text-align: left;
    text-decoration: none;
    color: #191919; 
   
}
.footer .footer-section .news-continer .myaccount h6{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #2D2D2D;
    margin-bottom: 28px;
}
.footer .footer-section .news-continer .myaccount span{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #2D2D2D;
}
.footer .footer-section .news-continer .Customer-service{
    width: 14.688rem;
    height: 12.75rem;
    gap: 1rem;    
}
.footer .footer-section .news-continer .Customer-service h6{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #2D2D2D;
    margin-bottom: 28px;
}
.footer .footer-section .news-continer .Customer-service span{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #2D2D2D;
}
.footer .footer-section .news-continer .Customer-service .Contact li{
    list-style: none;
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 350;  
    line-height: 22.4px;
    text-align: left;
    color:  #2D2D2D;
}
.footer .footer-section .news-continer .Customer-service .Contact a{
color: #0F83B2;
font-family: Comfortaa;
font-size: 14px;
font-weight: 350;
line-height: 22.4px;
text-align: left;
}
/* end footer */

